<!-- pageTitle.ejs -->

<div class="box" id="heading">
  <p id="greeting"><%= greeting %></p>
  <div class="box">
    <p>timecard</br>
    <%= titleDate %></br>
    <iframe src="http://free.timeanddate.com/clock/i74anup6/n256/tluk/tct/pct/ftb/pa0/th1/ta1" frameborder="0" width="88" height="16" allowTransparency="true"></iframe>
</p>
  </div>
</div>
